.testimonials {
    padding: 0 2rem;
    display: flex;
    gap: 1rem;
}

.testimonials__left{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    gap: 2rem;
    text-transform: uppercase;
    color: #fff;
}

.testimonials__left>:nth-child(1){
    color: var(--orange);
    font-weight: bold;
}

.testimonials__left>:nth-child(2),
.testimonials__left>:nth-child(3){
    font-size: 3rem;
    font-weight: bold;
}

.testimonials__left p{
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;
}

.testimonials__right {
    flex: 1;
    position: relative;
}

.testimonials__right>:nth-child(1){
    width: 17rem;
    height: 20rem;
    border: 2px solid var(--orange);
    background-color: transparent;
    position: absolute;
    top: 0.9rem;
    right: 9rem;
}

.testimonials__right>:nth-child(3){
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    position: absolute;
    top: 2rem;
    right: 8rem;
}

.testimonials__right>:nth-child(2){
    width: 17rem;
    height: 19rem;
    background: var(--planCard);
    position: absolute;
    top: 4rem;
    right: 7rem;
}

.arrows{
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.arrows img{
    width: 1.5rem;
    cursor: pointer;
}